__pycache__/
*.pyc
*.pyo
*.pyd

.env
*.db

api-unidasul-master_version_15/output/
api-unidasul-master_version_15/servico_output.log
api-unidasul-master_version_15/servico_error.log

build/
dist/

API_Unidasul_Service*.exe
service_launcher.py
service_launcher.spec
file_version_info.txt
